title= (page.title ? page.title + ' - ' : '') + site.name
meta(charset= site.charset)
meta(
  name= 'description'
  content= page.description || site.description)

if !page.search
  meta(
    name= 'robots'
    content= 'none')

//- Disable automatic detection and formatting
meta(
  name= 'format-detection'
  content= $.serialize(site.formatDetection))

//- Links to the author of the document
link(
  rel= 'author'
  href= '/humans.txt')

//- Web Application Manifest
link(
  rel= 'manifest'
  href= '/manifest.json')

//- Touch icon for iOS
link(
  rel= 'apple-touch-icon'
  href= site.icons[152])

//- Favicon for older versions of Chrome
link(
  rel= 'icon'
  type= 'image/png'
  sizes= '192x192'
  href= site.icons[192])

block styles
  link(
    rel= 'stylesheet'
    href='/styles/common.css')
