title= (page.title ? page.title + ' - ' : '') + site.name
meta(charset= site.charset)
meta(
  name= 'description'
  content= page.description || site.description)

if !page.search
  meta(
    name= 'robots'
    content= 'none')

//- Links to the author of the document -->
link(
  rel= 'author'
  href= '/humans.txt')

//- Web Application Manifest
link(
  rel= 'manifest'
  href= '/manifest.json')

block styles
  link(
    rel= 'stylesheet'
    href='/styles/common.css')
