doctype html
include partials/banner.pug

html(
  lang= site.language
  id= page.htmlId
  class= page.htmlClasses)

  head
    include partials/head.pug

  body(
    id= page.bodyId
    class= page.bodyClasses)

    include partials/header

    block content
    block scripts
